<center>
<h1 class = "smaller">Change Password</h1>
<%= form_for @user do |f| %>
    <label>Password</label><br>
        <%= f.password_field :password%><br>
    <label>Change Password</label><br>
        <%= f.password_field :password%><br>
      <%= f.submit %>
<% end %>

<div id='check'>
    <div><%= flash[:warning] %> </div>
</div>