<center>
<h1 class = "smaller">Change Password</h1>
<%= form_for @user do |f| %>
    <label>Current Password</label><br>
        <%= f.password_field :current_password%><br>
    <label>New Password</label><br>
        <%= f.password_field :password%><br>
      <%= f.submit %>
<% end %>

<div id='check'>
    <div><%= flash[:check] %> </div>
</div>