<center>
	<label><%= @user.username %></label><br>
	<form class='update' action="<%= edit_user_path %>">
    <input type="submit" value= 'Change Password'>
</form>
</center>

<div class="select_table">
	<div id="characters">
		<label> Character Select </label><br><br>
		<% @user.characters.each.with_index(1) do |character, i| %>
			<strong><%= link_to character.name, character %></strong><br>
			Gender: <%= character.gender %>
			Lvl: <%= character.lvl %>
			<%= button_to "delete", character, :method => :delete %><br>
		<% end %>
	</div>

	<div class="space-10">
	</div>
	
	<div id="gen_character">
		<label> Make a new character </label><br>
		<%= form_for @character do |f| %>
		<p> 
			Name: <br>
			<%= f.text_field :name %><br>
			Gender: <br>
			<%= f.text_field :gender %><br>
			Greeting: <br>
			<%= f.text_field :greeting %><br>

			<%= f.submit "Create Character" %>
  		</p>
<% end %>
	</div>
</div>
