<div class="wrapper">
	<%= image_tag @place_img %><br>
</div>

<div id="name_info">
	<div> Name: <%= @character.name %>
		_______ Gender: <%= @character.gender %>
		_______ Level: <%= @character.lvl %> 
		<% if flash[:message] %>
			_______ <%= flash[:name] %>: <%= flash[:message] %>
		<% end %>
	</div>
</div>

<div id="ui">
	<div id="forms">
		<div class="box1"><%= render 'pickup_item_form' %></div>
		<div class="box1"><%= render 'use_item_form' %></div>
		<div class="box1"><%= render 'travel_form' %></div>
		<div class="box1"><%= render 'talk_form' %></div>
	</div>

	<div id="items">
		<% @character.items.each do |item| %>
		<div class="box2">
			<%= item.name %><br>
			Val: <%= item.value %> Num:<%= CharactersItem.all.where(character_id: @character.id, item_id: item.id)[0][:amount] %>
		</div>
		<% end %>
	</div>
</div>